.text {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.home {
  background: url('https://t3.ftcdn.net/jpg/03/91/46/10/360_F_391461057_5P0BOWl4lY442Zoo9rzEeJU0S2c1WDZR.jpg');
  background-size: cover;
  height: 100%;
}
.box {
  color: rgb(218, 156, 43);
}
.text {
  font-size: 60px;
  font-weight: 60px;
}
.card1 {
  box-shadow: 0px 6px 2px lightgrey;
}
.box1 {
  box-shadow: 0px 6px 2px lightgrey;
 
}

.contact {
  background: url('https://t3.ftcdn.net/jpg/03/91/46/10/360_F_391461057_5P0BOWl4lY442Zoo9rzEeJU0S2c1WDZR.jpg');
  background-size: cover;

}
.box2 {
  background: url('https://images.pexels.com/photos/1445416/pexels-photo-1445416.jpeg?auto=compress&cs=tinysrgb&w=600');
}
.img {
  margin-right: 8rem;
}
.head {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.project {
  background: url('https://t3.ftcdn.net/jpg/03/91/46/10/360_F_391461057_5P0BOWl4lY442Zoo9rzEeJU0S2c1WDZR.jpg');
  background-size: cover;
}
.page{
  font-family: cursive;
}